@{
    ViewData["Title"] = "Acesso Negado";
}
<h1>Acesso Negado</h1>
<br />
<p>Você não tem permissão para acessar esta página.</p>
<br />
<a href="/" class="btn btn-primary">Voltar para a Página Inicial</a>
