@{
	ViewData["Title"] = "Painel do Administrador";
}

<div class="text-center">
	<h1 class="display-4">Bem-vindo, Administrador!</h1>
	<p class="lead">Aqui você pode gerenciar colaboradores e monitorar registros de ponto.</p>
</div>

<div class="mt-4">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Gerenciar Colaboradores</h5>
					<p class="card-text">Adicione, edite ou remova colaboradores da empresa.</p>
					<a href="/Admin/GerenciarColaborador" class="btn btn-primary">Gerir</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Registros de Ponto</h5>
					<p class="card-text">Visualize os registros de ponto dos colaboradores.</p>
					<a href="/RegistoPonto/Index" class="btn btn-primary">Visualizar</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">API - Exportar Registos para CSV</h5>
					<p class="card-text">Exporte os registos de ponto para ficheiro CSV.</p>
					<a asp-action="ExportarRegistrosParaCsv" class="btn btn-primary">Exportar</a>
				</div>
			</div>
		</div>
	</div>
</div>
